body {
  margin: 0;
  padding: 0;
  background-image: url("/src/img/background.png");
  background-repeat: repeat;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.chat-container {
  flex: 1;
  padding: 30px;
  flex-direction: column-reverse;
  padding-bottom: 90px;
}